############################
# Build
############################
bin/
obj/
[Bb]uild/
[Rr]elease/
[Dd]ebug/
x64/
x86/
ARM/
ARM64/

############################
# Visual Studio
############################
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

############################
# Rider / VS Code
############################
.idea/
.vscode/

############################
# NuGet
############################
*.nupkg
packages/
!packages/build/

############################
# Logs
############################
*.log

############################
# Windows
############################
Thumbs.db
Desktop.ini

############################
# Test
############################
TestResults/
*.trx

############################
# Generated native files
############################
*.pdb
*.ilk
*.exp
*.lib

############################
# FFmpeg temporales
############################
ffmpeg*.log